.Map {
    position: relative;
}

.Map .Overlay{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    display: block;
}

.Map .Absolute{
    pointer-events: none;
    position: absolute;
    display: block;
}
